*{
    box-sizing: border-box;
}

#div1{
    height: 400px;
    width: 400px;
    border: solid 4px black;
    padding: 60px 80px;
    float: left;
}

img{
    opacity: 0.7;
}

#div2{
    height: 400px;
    width: 400px;
    border: solid 4px blue;
    padding: 60px 80px;
    float: left;
  
}